$red-salsa: hsla(0, 75%, 60%, 1);
$light-salmon: hsla(17, 100%, 76%, 1);
$seashell: hsl(12, 48%, 94%);
$jet: hsla(15, 3%, 26%, 1);

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
input[type='number'] {
  -moz-appearance: textfield !important;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 1em;
  margin-top: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background: $seashell;
  height: 200vh;
}
header {
  z-index: 10;
  $radius: 1.5em;
  position: sticky;
  top: -5.8em;
  background: $red-salsa;
  max-width: fit-content;
  border-radius: $radius 0;
  border-top-right-radius: $radius;
  padding: 1em;
  &::after {
    content: '';
    inset: 100% calc(100% - #{$radius}) calc(-2 * #{$radius}) 0;
    border-top-left-radius: $radius;
    box-shadow: 0 calc(-1 * #{$radius}) 0 0 $red-salsa;
    position: absolute;
    z-index: -1;
  }
  &::before {
    content: '';
    position: absolute;
    inset: calc(100% + 1px) calc(100% - #{$radius} - 1px) calc(-2 * #{$radius})
      calc(#{$radius} - 1px);
    background: $seashell;
  }
  h2 {
    font-style: italic;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
  * {
    margin: 0;
  }
}
main {
  margin-block: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 2em;
  h3 {
    background: lighten($red-salsa, 5%);
    padding: 0.5em;
    margin: 0;
    vertical-align: middle;
    border-radius: .2em;
    border-top-left-radius: .7em;
  }
  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 1em;
    div {
      position: relative;
      &:nth-of-type(1)::after {
        content: 'Xa';
      }
      &:nth-of-type(2)::after {
        content: 'Ya';
      }
      &:nth-of-type(3)::after {
        content: 'Xb';
      }
      &:nth-of-type(4)::after {
        content: 'Yb';
      }
      &::after {
        content: '';
        text-align: center;
        font-weight: bold;
        position: absolute;
        vertical-align: middle;
        inset: calc(100% - 1em) -1em -0.5em calc(100% - 1em);
        background: darken($seashell, 35%);
        box-shadow: 0 0 0 0.2em $seashell;
        border-radius: 0.2em;
      }
    }
  }
  button {
    background-color: $seashell;
    color: black;
    padding: 0.6em;
    width: 10em;
    border: 0.2em lighten($red-salsa, 5%) solid;
    border-radius: 0.7em 0;
    font-weight: bold;
    &::after {
      content: ' obliczenia';
      font-weight: normal;
    }
    &:focus {
      background: lighten($red-salsa, 5%);
      color: $seashell;
    }
  }
  input {
    position: relative;
    font-size: 1em;
    height: 2em;
    padding: 0.4em;
    padding-inline: 1em;
    border-radius: .3em;
    border-top-left-radius: 0.7em;
    background: $light-salmon;
    border: 0;
    box-shadow: 0 0 0 0.2em $seashell;
  }
  .outputTable {
    max-width: 15em;
    overflow-X: scroll;
  }
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    th {
      background: $light-salmon;
      padding: 0.2em 0.5em;
      border: 0.2em solid darken($seashell, 35%);
      border-right: 0;
      &:first-of-type {
        border-radius: 0.7em 0 0 0;
      }
      &:last-of-type {
        border-right: 0.2em solid darken($seashell, 35%);
      }
    }
    td {
      text-align: center;
      padding: 0.2em 0.5em;
      border: 0.3em solid darken($seashell, 35%);
      border-top: 0;
      border-right: 0;
      font-size: 0.8em;
      &:last-of-type {
        border-right: 0.3em solid darken($seashell, 35%);
      }
    }
    tr{
      position: relative;
      &:not(.head):not(.blank)::after{
        content: 'X';
        color: $seashell;
        position: absolute;
        width: 1em;
        inset-block-start: .2em;
        inset-inline: calc(100% + .5em) -.5em;
        background-color: $red-salsa;
        border-radius: .2em;
        vertical-align: middle;
        text-align: center;
        font-size: .8em;
        padding: .1em;
        font-weight: bold;
      }
      &:last-of-type > td:last-of-type {
        border-right: 0.3em solid darken($seashell, 35%);
        border-radius: 0 0 0.7em 0;
      }
    }
  }
}
